<template>
  <div id="app">
    <button class="ui button">{{ message }}</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      message: "Hello Vue!"
    };
  }
};
</script>