.ui.centered.middle.aligned.grid.min-height-main#main-block
  .row.height-70vh.my-2
    .four.wide.column.center.aligned.min-width-logo.col-width-auto
      = image_pack_tag 'media/images/s8.svg', class: 'ui fluid image s8-logo'
  .height-30vh
    .row
      .column
        h1.ui.header.centered
          | Simbol8
    .row.mt-1
      .column
        h3.ui.header.centered
          | Mantra
    .row.mt-4
      .column
        .ui.violet.tiny.button.m-0#main-button
          | Read more
