.ui.container.grid.height-100vh#second-block
  .row.mt-4
    .six.wide.column
      .ui.rail.pt-2#question
        .ui.circular.image
          i.big.question.circle.icon
    .ten.wide.column.item#question_content
      .content
        h3.header
          = t('second_block.what.title')
        h4.description
          = @faker_words
