/* FONTS */
$width-name: max-device-width;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

html {
  font-size: 1rem !important;
}

@media all and ($width-name: $sm) {
  html {
    font-size: 1rem !important;
  }
}

@media all and ($width-name: $md) {
  html {
    font-size: 1.5rem !important;
  }
}

@media all and ($width-name: $lg) {
  html {
    font-size: 1.8rem !important;
  }
}

@media all and ($width-name: $xl) {
  html {
    font-size: 2rem !important;
  }
}
