@import 'margin.scss';
@import 'padding.scss';
@import 'vert-height.scss';
@import 'fonts.scss';

.s8-logo {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.col-width-auto {
  width: auto !important;
}

.min-width-logo {
  min-width: 200pt;
}

.min-height-main {
  min-height: 444pt;
}

#main-block {
  background-color: #D3D3D3;
}
