$amounts: (0, 1, 2, 3, 4); // Adjust this to include the pixel amounts you need.
$types: (top, bottom, left, right);

@each $type in $types {
  @each $size in $amounts {
    .m#{str-slice($type, 0, 1)}-#{$size} {
      margin-#{$type}: #{$size * 0.8}em !important;
    }
  }
}

@each $size in $amounts {
  .m-#{$size} {
    margin: #{$size * 0.8}em !important;
  }
}

@each $size in $amounts {
  .mx-#{$size} {
    margin-left: #{$size * 0.8}em !important;
  }
}

@each $size in $amounts {
  .my-#{$size} {
    margin-top: #{$size * 0.8}em !important;
  }
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
}

.my-auto {
  margin-top: auto !important;
}
