$heightamounts: (
  10,
  20,
  30,
  40,
  50,
  50,
  60,
  70,
  80,
  90,
  100
); // Adjust this to include the pixel amounts you need.

@each $space in $heightamounts {
  .height-#{$space}vh {
    height: #{$space}vh !important;
  }
}
