doctype html
html
  head
    title Simbol8
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'app', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'jquery', 'data-turbolinks-track': 'reload'
  body
    = yield
